@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 187 100% 98%;
    --foreground: 187 100% 0%;
    --muted: 187 25% 92%;
    --muted-foreground: 187 1% 34%;
    --popover: 187 100% 98%;
    --popover-foreground: 187 100% 0%;
    --card: 187 100% 98%;
    --card-foreground: 187 100% 0%;
    --border: 187 14% 90%;
    --input: 187 14% 90%;
    --primary: 257 100% 27%;
    --primary-foreground: 257 100% 98%;
    --secondary: 79 100% 37%;
    --secondary-foreground: 79 100% 98%;
    --accent: 187 100% 42%;
    --accent-foreground: 187 100% 98%;
    --destructive: 2 81% 39%;
    --destructive-foreground: 2 81% 99%;
    --success: 120 100% 34%;
    --success-foreground: 120 100% 98%;
    --ring: 187 100% 42%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 187 100% 0%;
    --foreground: 187 100% 98%;
    --muted: 187 25% 8%;
    --muted-foreground: 187 1% 66%;
    --popover: 187 100% 0%;
    --popover-foreground: 187 100% 98%;
    --card: 187 100% 0%;
    --card-foreground: 187 100% 98%;
    --border: 187 14% 15%;
    --input: 187 14% 15%;
    --primary: 257 100% 27%;
    --primary-foreground: 257 100% 98%;
    --secondary: 79 100% 37%;
    --secondary-foreground: 79 100% 98%;
    --accent: 187 100% 42%;
    --accent-foreground: 187 100% 98%;
    --destructive: 2 81% 55%;
    --destructive-foreground: 0 0% 100%;
    --success: 120 100% 34%;
    --success-foreground: 120 100% 98%;
    --ring: 187 100% 42%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
